<h2 class="subtitle4">Software Skill</h2>
<div class="skills-columns">
  <div class ="skill1">
    <div class="contact4">
      <strong>Adobe Photoshop</strong><br>
      <strong>Adobe Illustrator</strong><br>
      <strong>Adobe Indesign</strong><br>
      <strong>Microsoft Office</strong><br>
      <strong>MS Powerpoint</strong>
    </div>
  </div>
  <div class="skill2">
    <div class="progress-bar">
      <div class="progress" style="width: 83%;"></div> <!-- Прогрес на 90% -->
    </div>
    <div class="progress-bar">
      <div class="progress" style="width: 88%;"></div> <!-- Прогрес на 70% -->
    </div>
    <div class="progress-bar">
      <div class="progress" style="width: 78%;"></div> <!-- Прогрес на 80% -->
    </div>
    <div class="progress-bar">
      <div class="progress" style="width: 88%;"></div> <!-- Прогрес на 50% -->
    </div>
    <div class="progress-bar">
      <div class="progress" style="width: 78%;"></div> <!-- Прогрес на 60% -->
    </div>
  </div>
</div>
<div class="container">
  <div class="subtitle4"> <strong>Experience</strong></div>

  <div class="contact5">
    <strong>Senior UX Designer</strong></div>
  <p class="company">Company Name / Location / 2019 - present</p>
  <p class="description">Lorem ipsum dolor sit amet, this is thena consectetur<br>
    adipiscing elit, sed do eiusmod tempor incididunt ut<br>
    labore et dolore magand na aliqua. Ut enim ad minim </p>


  <div class="contact5">
    <strong>Junior UX Designer</strong></div>
  <p class="company">Company Name / Location / 2015 - 2019</p>
  <p class="description">Lorem ipsum dolor sit amet, this is thena<br>
    consectetur adipiscing elit, sed do eiusmod tempor<br>
    incididunt ut labore et dolore magna aliqua. Ut</p>

</div>
