<!--<div class="row resume">-->
  <!-- Ліва колонка -->
<!--  <div class="col-5 left-col text-center">-->
<!--  <div class="left-col">-->
    <div class="header">
      <h1 class="name">Jhon</h1>
      <h1 class="surname"><strong>Parker</strong></h1>
      <p class="title">UX Designer</p>
    </div>
    <div class ="under_header">
      <h2 class="subtitle1"><strong> Contact</strong></h2>
      <div class="inf1">
        <p class="contact1"><strong>Phone</strong> <br>+000 123 456 789</p>
        <p class="contact1"><strong>Email</strong> <br>yourname&#64;gmail.com</p>
        <p class="contact1"><strong>Address</strong> <br>Your Street Address<br>Town/City, zip code</p>
      </div>
      <h2 class="subtitle1"><strong> Education</strong></h2>
      <div class="inf1">
        <div class="contact1"> Year: 2005-2007
          <p class="contact2"><strong> Degree / Major Name</strong></p>
          Your College name here</div>
        <div class="contact1"> Year: 2005-2007
          <p class="contact2"><strong> Degree / Major Name</strong></p>
          Your College name here</div>                    </div>
      <h2 class="subtitle1"><strong>Reference</strong></h2>
      <div class="inf1">
        <div class="contact1"><strong>Jhon Smith</strong>
          <p class="contact2"><strong>Company name / Title</strong>
            <br>Phone: 0123 456 7890</p>
        </div>
        <div class="contact1"><strong>Jhon Smith</strong>
          <p class="contact2"><strong>Company name / Title</strong>
            <br>Phone: 0123 456 7890</p>
        </div>
      </div>
    </div>



