$black: #000;
$white: #ffffff;
$light-grey: darkslategray;
$dark-grey: #333;
$level: #e0e0e0;
$dark-blue: #071117;
strong {
  font-weight: 900;
}
.title{
  font-size: 45px;
  font-weight: 550;
}

@mixin small-text($mar,$fon){
  margin-top: $mar;
  font-size: $fon;
}
.header{
  margin-top: 35%;
}
.under_header{
margin-top: 50%;
}
.name, .surname {
  color: $black;
  font-size: 100px;
  font-weight: 400;
}
.surname {
  margin-top: -20px;
}
.inf1{
  padding: 0 0 7% 0;
}
.subtitle1{
  margin-top: 10%;
  color: $white;
  background-color: $black;
  font-size: 35px;
  font-weight: 700;
  line-height: 150%;
  padding: 0 0 0 20px;
  width: 70%;
}
.contact1{
  font-weight: 500;
  @include small-text(50px,26px);
}
.contact2{
  color: $light-grey;
  font-weight: 500;
  @include small-text(10px,25px);
  margin-block-end: 5px;
}
@mixin placing($dis,$jus,$mar){
  display: $dis;
  justify-content: $jus;
  margin-top: $mar;
}
