<!--<div class="row resume">-->
  <!-- Ліва колонка -->
<!--  <div class="col-5 left-col text-center">-->
<!--  <div class="left-col">-->
<div class="header">
  <h1 class="name">Jhon</h1>
  <h1 class="surname"><strong>Parker</strong></h1>
  <p class="title">UX Designer</p>
</div>
<div class ="under_header">
  <div class="contact-container">
    <div class="contact-left">
      <h2 class="subtitle1"><strong>Contact</strong></h2>
    </div>
    <div class="contact-right">
      <button class="custom-btn" (click)="toggleContact()">
        <span *ngIf="!showContact">Show Contact</span>
        <span *ngIf="showContact">Hide Contact</span>
      </button>
    </div>
  </div>
      <div class="inf1" *ngIf="showContact">
        <p class="contact1"><strong>Phone</strong> <br>+000 123 456 789</p>
        <p class="contact1"><strong>Email</strong> <br>yourname&#64;gmail.com</p>
        <p class="contact1"><strong>Address</strong> <br>Your Street Address<br>Town/City, zip code</p>
      </div>

      <h2 class="subtitle1"><strong> Education</strong></h2>
      <div class="inf1">

        <div class="contact1" *ngFor="let edu of education">
          Year: {{ edu.year }}
          <p class="contact2"><strong>{{ edu.degree }}</strong></p>
          {{ edu.institution }}
        </div>
            </div>

<!--      <h2 class="subtitle1"><strong>Reference</strong></h2>-->
<!--      <div class="inf1">-->
<!--        <div class="contact1"><strong>Jhon Smith</strong>-->
<!--          <p class="contact2"><strong>Company name / Title</strong>-->
<!--            <br>Phone: 0123 456 7890</p>-->
<!--        </div>-->
<!--        <div class="contact1"><strong>Jhon Smith</strong>-->
<!--          <p class="contact2"><strong>Company name / Title</strong>-->
<!--            <br>Phone: 0123 456 7890</p>-->
<!--        </div>-->
<!--      </div>-->
  <app-reference-section
    [name1]="'Jhon Smith'"
    [title1]="'Company name / Title'"
    [phone1]="'0123 456 7890'"
    (updateReference)="handleUpdatedReference($event)">
    >
  </app-reference-section>
  <div class="contact1" style="margin-top: -1%">
    <strong>{{ reference2.name }}</strong>
    <p class="contact2">
      <strong>{{ reference2.title }}</strong>
      <br>Phone: {{ reference2.phone }}
    </p>
  </div>

    </div>



