<!--<div class="row resume">-->
  <!-- Ліва колонка -->
<!--  <div class="col-5 left-col text-center">-->
<!--  <div class="left-col">-->
<div class="header">
  <h1 class="name">Jhon</h1>
  <h1 class="surname"><strong>Parker</strong></h1>
  <p class="title">UX Designer</p>
</div>
<div class ="under_header">
<!--  <button *ngIf="!authState" routerLink="/login" class="custom-btn">LogIn</button>-->
<!--  <button *ngIf="!authState" routerLink="/register" class="custom-btn">Register</button>-->
<!--  <button (click)="logout()" class="custom-btn">LogOut</button>-->
<!--&lt;!&ndash;  <router-outlet></router-outlet>&ndash;&gt;-->
<!--  <p>new button!</p>-->
  <button *ngIf="!authState" (click)="showLogin = true" class="custom-btn">LogIn</button>
  <button *ngIf="!authState" (click)="showRegister = true" class="custom-btn">Register</button>
  <button *ngIf="authState" (click)="logout()" class="custom-btn">LogOut</button>
<!--  <button (click)="showRegister = true">Зареєструватися</button>-->

  <div *ngIf="showRegister" class="modal-backdrop">
    <div>
      <app-auth-register (registerSuccess)="showRegister = false"></app-auth-register>
      <button (click)="showRegister = false" class="custom-btn">Close window</button>
    </div>
  </div>

  <div *ngIf="showLogin" class="modal-backdrop">
    <div>
      <app-login (loginSuccess)="onLoginSuccess()"></app-login>
      <button (click)="closeModals()" class="custom-btn">Close window</button>
    </div>
  </div>

  <div class="contact-container">
    <div class="contact-left">
      <h2 class="subtitle1"><strong>Contact</strong></h2>
    </div>
    <div class="contact-right">
      <button class="custom-btn" (click)="toggleContact()">
        <span *ngIf="!showContact">Show Contact</span>
        <span *ngIf="showContact">Hide Contact</span>
      </button>
    </div>
  </div>
      <div class="inf1" *ngIf="showContact">

        <div *ngIf="contacts.length > 0" class="inf1">
          <p class="contact2"><strong>Saved contacts</strong></p>
          <div *ngFor="let contact of contacts" class="contact1">
            <p class="contact1"><strong>Phone</strong> <br>{{ contact.phone }}</p>
            <p class="contact1"><strong>Email</strong> <br>{{ contact.email }}</p>
            <p class="contact1"><strong>Address</strong> <br>{{ contact.address }}</p>
            <button (click)="deleteContact(contact.id)" class="custom-btn" >Delete</button>
            <hr>
          </div>
        </div>

<!--        <p class="contact1"><strong>Phone</strong> <br>+000 123 456 789</p>-->
<!--        <p class="contact1"><strong>Email</strong> <br>yourname&#64;gmail.com</p>-->
<!--        <p class="contact1"><strong>Address</strong> <br>Your Street Address<br>Town/City, zip code</p>-->
<!--     -->
        <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)" novalidate>
         <div>
           <label class="contact1">Phone:</label>
           <input name="phone" ngModel required minlength="10" pattern="^[0-9]*$" #phone="ngModel">
           <div *ngIf="phone.invalid && phone.touched">
             <small *ngIf="phone.errors?.['required']">Phone is required</small>
             <small *ngIf="phone.errors?.['minlength']">Minimum 10 digits</small>
             <small *ngIf="phone.errors?.['pattern']">Only numbers allowed</small>
           </div>
         </div>

         <div>
          <label class="contact1">Email:</label>
          <input type="email" name="email" ngModel required email #email="ngModel">
          <div *ngIf="email.invalid && email.touched">
            <small *ngIf="email.errors?.['required']">Email is required</small>
            <small *ngIf="email.errors?.['email']">Invalid email format</small>
          </div>
          </div>
          <div>
          <label class="contact1">Address:</label>
          <textarea name="address" ngModel required minlength="5" #address="ngModel"></textarea>
          <div *ngIf="address.invalid && address.touched">
            <small *ngIf="address.errors?.['required']">Address is required</small>
            <small *ngIf="address.errors?.['minlength']">Minimum 5 characters</small>
          </div>
      </div>
          <button type="submit" [disabled]="contactForm.invalid" class="custom-btn" >Send</button>
        </form>


      </div>

      <h2 class="subtitle1"><strong> Education</strong></h2>
      <div class="inf1">

        <div class="contact1" *ngFor="let edu of education">
          Year: {{ edu.year }}
          <p class="contact2"><strong>{{ edu.degree }}</strong></p>
          {{ edu.institution }}
        </div>
            </div>

<!--      <h2 class="subtitle1"><strong>Reference</strong></h2>-->
<!--      <div class="inf1">-->
<!--        <div class="contact1"><strong>Jhon Smith</strong>-->
<!--          <p class="contact2"><strong>Company name / Title</strong>-->
<!--            <br>Phone: 0123 456 7890</p>-->
<!--        </div>-->
<!--        <div class="contact1"><strong>Jhon Smith</strong>-->
<!--          <p class="contact2"><strong>Company name / Title</strong>-->
<!--            <br>Phone: 0123 456 7890</p>-->
<!--        </div>-->
<!--      </div>-->
  <app-reference-section
    [name1]="'Jhon Smith'"
    [title1]="'Company name / Title'"
    [phone1]="'0123 456 7890'"
    (updateReference)="handleUpdatedReference($event)">
    >
  </app-reference-section>
  <div class="contact1" style="margin-top: -1%">
    <strong>{{ reference2.name }}</strong>
    <p class="contact2">
      <strong>{{ reference2.title }}</strong>
      <br>Phone: {{ reference2.phone }}
    </p>
  </div>

    </div>



